body {
    background-color: #483F38;
    font-family: Roboto, Arial;
    text-align: center;
}

h1 {
  color: black;
  font-size: 42px;
  font-weight: 600px;
  text-align: center;
}

td {
    padding: 15px;
    font-family: Roboto, Arial;
}

p {
    font-size: 16px;
    line-height: 28px;
}

table {
    border-spacing: 1px;
    margin: 0 auto;
}

input {
    text-align: center;
}

.p_grey {
    color: grey;
}

.content {
    margin-bottom: 75px;
}

.content h1 {
    border: 3px solid black;
    position: relative;
    top: 50px;
    width: 400px;
    margin: 0 auto;
    padding: 10px;
}

.cell_list_allParty {
    border: 1px black solid;
    spacing: 100;
}

.cell_Red {
    background-color: red;
}


.list_allParty {
    margin: 0 auto;
}

.p_green {
    color: green;
}
.p_red {
    color: red;
}


#little_p {
    display: inline-block;
    border-bottom: 1px solid LightGrey;
    border-top: 1px solid LightGrey;
    color: DarkGrey;
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 50px;
    margin-top: 0px;
}

#h2_createparty {
    margin-top: 50px;
}

#div_mistake_AFF {
    margin: 0 auto;
    background-image: 100%;
    background: no-repeat;
    height: 250px;
    width: 250px;
}

#div_img_title {
    width: 500px;
    height: 100px;
    margin: 0px auto;
    background-image: url(img/img_pendu_title.jpg);
}

#div_img_player {
    width: 500px;
    height: 100px;
    margin: 0px 50%;
    background-image: url(img/img_pendu_title.jpg);
}

#input_nameofuser {
    border: 2px brown solid;
    border-radius: 15px;
    margin-top: 50px;
    text-align: center;
    height: 35px;
    font-size: 15px;
    font-family: 'courier', Arial;
}

#div_name {
    margin: 0px auto;
    width: 300px;
    height: 100%;
}

#Init_after_name {
    margin-top: 75px;
}










@keyframes fadeIn {
    from {
        display:block;
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@keyframes fadeOut {
    from {
        opacity:1;
    }
    to {
        opacity:0;
        display:none;
    }
}
