body {
    background-color: white;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

h1 {
  color: black;
  font-size: 42px;
  font-weight: 600px;
  text-align: center;
}

td {
    padding: 15px;
}

p {
    font-size: 16px;
    line-height: 28px;
}

table {
    border-spacing: 1px;
    margin: 0 auto;
}

.p_grey {
    color: grey;
}

.content {
    margin-bottom: 75px;
}

.content h1 {
    border: 3px solid black;
    position: relative;
    top: 50px;
    width: 400px;
    margin: 0 auto;
    padding: 10px;
}

.cell_list_allParty {
    border: 1px black solid;
    spacing: 100;
}

.cell_Red {
    background-color: red;
}


.list_allParty {
    margin: 0 auto;
    border: 1px black solid;
}


#little_p {
    display: inline-block;
    border-bottom: 1px solid LightGrey;
    border-top: 1px solid LightGrey;
    color: DarkGrey;
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 50px;
    margin-top: 0px;
}

#h2_createparty {
    margin-top: 50px;
}










@keyframes fadeIn {
    from {
        display:block;
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@keyframes fadeOut {
    from {
        opacity:1;
    }
    to {
        opacity:0;
        display:none;
    }
}
